html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Open Sans", "Arial", sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

/*Navigation*/

header {
    display: flex;
    background-color: #444444;
    text-transform: uppercase;
    border: none;
    padding-left: 100px;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 1px solid #9ac051;
}

nav li {
    padding-right: 40px;
}

.main-site {
    font-weight: 700;
}

.main-img {
    height: 400px;
    background-image: url("../images/dewang-gupta-272186-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-family: "Times New Roma", serif;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

.main-text h2 {
    font-size: 18px;
    font-weight: 200;
    margin: 25px 0 30px 0;
}

.main-text .offer-btn {
    background-color: #9ac051;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}

.main-text .offer-btn:hover {
    background-color: #647e32;
}

/*Why us*/

.why-us {
    height: 300px;
    background-color: #fcfbfb;
    border-bottom: .5px solid #f2f2f2;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    
}

.points h3 {
    font-family: "Times New Roman", serif;
    margin: 15px 0 30px 0;
    font-size: 20px;
}

.points ul {
    list-style: none;
    padding: 0;
}

.points i {
    color: #9ac051;
    padding-right: 11px;
}

.points li {
    font-size: 10px;
    margin-bottom: 20px;
}

.points li span {
    font-size: 10px;
    font-weight: 600;
}

.image img {
    border-radius: 4px;
}

.offer {
    display: flex;
    padding-top: 5px;
    padding-bottom: 100px;
    justify-content: center;
}

.offer figure {
    width: 280px;
    background-color: #fcfbfb;
    border: .5px solid #f2f2f2;
    margin: 50px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer h5 {
    color: #9ac051;
    text-transform: uppercase;
    font-weight: 200;   
}

.offer p {
    color: #444444;
    margin: 0;
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
}

.offer .read-more-less-btn {
    background-color: #9ac051;
    color: #fff;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
}

.offer .circle-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.offer .skin-therapy {
    background-image: url("../images/love-romantic-bath-candlelight.jpg");
    background-position: bottom;
}

.offer .face-treatments {
    background-image: url("../images/pexels-photo-725998.jpeg");
    background-position: center;
}

.offer .body-wraps {
    background-image: url("../images/pexels-photo-259810.jpeg");
    background-position: bottom;
}

/*Newsletter*/

.newsletter {
    height: 120px;
    background-color: #9ac051;
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center; 
}

.newsletter h5 {
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
    font-size: 17px;
    margin: 30px 0 15px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input, 
.newsletter-form button {
    border-radius: 3px;
    border: none;
    font-size: 10px;
}

.newsletter-form input {
    margin-right: 20px;
    padding: 5px 15px;
    width: 250px;
}

.newsletter-form button {
    background-color: #647e32;
    color: #fff;
    padding: 0 15px;
}

/*Slider*/

.slider-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-arrow,
.next-arrow {
    color: #f2f2f2;
    padding: 20px;
    cursor: pointer;
}

.previous-arrow:hover,
.next-arrow:hover {
    color: #9ac051;
}

.slider-container i {
    font-size: 30px;
}

.slider li img {
    width: 500px;
    border-radius: 10px;
}

.slider-stage {
    width: 500px;
    overflow-x: hidden;
}

.slider {
    list-style: none;
    width: 500px;
    padding: 0;
    display: flex;
    position: relative;
}

/*Go up*/

.go-up {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-up i {
    font-size: 30px;
    color: #444444;
    cursor: pointer;
}

.go-up i:hover {
    color: #9ac051;
}

/*Footer*/

/*Sekcja z opisem i ikonami mediów społecznościowych*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    padding: 60px 100px;
    color: #fff;
}

footer > section {
    width: 200px;
}

.about-us h5 {
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
    font-weight: 200;
    margin: 0 0 10px 0;
}

.about-us p {
    font-size: 8px;
    line-height: 2;
    margin: 0 0 20px 0;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    background-color: #9ac051;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-media a {
    color: #fff;
    text-decoration: none; 
}

/*Sekcja z danymi kontaktowymi*/

.contact-details {
    width: 150px;
    margin-left: 30px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-details li {
    font-size: 11px;
    margin-bottom: 9px;
    display: flex;
}

.contact-details i {
    color: #9ac051;
    margin-right: 10px; 
}

.contact-details li a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

/*Sekcja z linkami*/

.quick-links {
    display: flex;
    width: 400px;
    margin-left: 40px;
}

.quick-links ul {
    padding: 0;
    margin: 0 50px 0 0;
    list-style: none;
    width: 150px;
}

.quick-links a {
    text-decoration: none;
    color: #fff;
    font-size: 11px;
}

.quick-links li {
    border-bottom: .5px solid #666464;
    padding: 10px 0;
}

.quick-links ul li:first-child {
    padding-top: 0;
}

.quick-links a i {
    color: #9ac051;
    font-size: 8px;
    margin-right: 8px;
}

/*Sekcja z prawami autorskimi i źródłem zdjęć*/

.copyright {
    background-color: #9ac051;
    height: 50px;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright p {
    margin: 0;
    font-size: 9px;
}

.copyright a {
    text-decoration: none;
    color: #fff;
    font-size: 8px;
}

/*Zakodowanie wysuwanego menu*/

.nested-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-transform: none;
    position: absolute;
    top: 40px;
    width: 200px;
    display: none;
}

.nested-menu li {
    font-size: 9px;
    padding: 10px 15px;
    color: #444444;
    cursor: pointer;
}

.nested-menu li:hover {
    color: #fff;
    background-color: #9ac051;
}

/*Additional paragraph*/

.additional-paragraph {
    display: none;
}

.form-info {
    text-align: center;
    display: none;
}